body {
  background-color: #844B54;
}
ul {
  list-style: none;
}
.container {
  padding: 10px;
  margin: 0 auto;
}
.naviagation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav__list {
  background-color: #CEBBAC;
  border: 1px solid #131313;
  padding: 10px;
  margin: 0 50px;
  width: 200px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__image {
  display: block;
  height: 300px;
  width: 206px;
  margin-left: 90px;
  margin-right: 30px;
}